<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trd.oecms.dao.FormalCourseMapper">
  <resultMap id="BaseResultMap" type="com.trd.oecms.entities.FormalCourse">
    <!--
     提示：这是mybatis逆向工程生成的xml文件
     date：2020-04-05 17:03
    -->
    <id column="formal_course_id" jdbcType="INTEGER" property="formalCourseId" />
    <result column="formal_course_name" jdbcType="VARCHAR" property="formalCourseName" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="formal_course_create_time" jdbcType="TIMESTAMP" property="formalCourseCreateTime" />
    <result column="formal_course_status" jdbcType="TINYINT" property="formalCourseStatus" />
  </resultMap>

  <insert id="insert" useGeneratedKeys="true" keyProperty="formal_course_id">
    <!--
     提示：这是mybatis逆向工程生成的xml文件
     date：2020-04-05 17:03
    -->
    insert into `formal_course` (formal_course_id, formal_course_name, 
      teacher_id, formal_course_create_time, formal_course_status
      )
    values (#{formalCourseId,jdbcType=INTEGER}, #{formalCourseName,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=INTEGER}, #{formalCourseCreateTime,jdbcType=TIMESTAMP}, #{formalCourseStatus,jdbcType=TINYINT}
      )
  </insert>
  <update id="updateByPrimaryKey">
    <!--
     提示：这是mybatis逆向工程生成的xml文件
     date：2020-04-05 17:03
    -->
    update `formal_course`
    set formal_course_name = #{formalCourseName,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=INTEGER},
      formal_course_create_time = #{formalCourseCreateTime,jdbcType=TIMESTAMP},
      formal_course_status = #{formalCourseStatus,jdbcType=TINYINT}
    where formal_course_id = #{formalCourseId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select formal_course_id, formal_course_name, teacher_id, formal_course_create_time, 
    formal_course_status
    from `formal_course`
    where formal_course_id = #{formalCourseId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
     提示：这是mybatis逆向工程生成的xml文件
     date：2020-04-05 17:03
    -->
    select formal_course_id, formal_course_name, teacher_id, formal_course_create_time, 
    formal_course_status
    from `formal_course`
  </select>
</mapper>