<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trd.oecms.dao.StudentDao">

    <resultMap id="baseMap" type="com.trd.oecms.entities.Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="class_name" property="className" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertOne" keyProperty="id" useGeneratedKeys="true">
          insert into student_baseinfo (name, number, class_name)
        values (#{name,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{className,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey">
        update student_baseinfo
        <set>
            <if test="name != null and name != '' ">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="number != null">
                `number` = #{number,jdbcType=INTEGER},
            </if>
            <if test="className != null and className != '' ">
                class_name = #{className,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <delete id="deleteByPrimaryKey">
         delete from student_baseinfo
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <select id="findAll" resultMap="baseMap">
        select * from student_baseinfo
    </select>
    <select id="findByPrimaryKey" resultMap="baseMap">
        select * from student_baseinfo where id = #{id}
    </select>
</mapper>