[v-cloak]{
    display: none;
}
#vm {
    padding: 0 15px;
}

.el-form-item.only-show {
    margin-bottom: 18px;

}

.el-form-item.only-show .el-form-item__content,.el-form-item.only-show .el-form-item__label {
    line-height: 1.4;
}
.el-table{
    font-size: 12px;
}
.el-table th{
    font-weight: 500;
}
.pagination-container{
    padding:10px;
}